.title-text {
    color: tomato;
    font-size: 35px;
}
.search-box-container {
    text-align: center;
    white-space: nowrap;
    margin-bottom: 20px;
}
.search-box {
    width: 60%;
    margin-right: 1%;
}
.search-button {
    margin-right: 3px;
}
.search-explain {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    white-space: nowrap;
}
.search-result-container {
    height: 100%;
    width: 100%;
}
.search-result {
    margin-top: 20px;
}
.fill-height {
    height: 100%;
}
.poster {
    margin-left: 10%;
    height: 200px;
    width: 200px;
    float: left;
}
.poster-big {
    height: 300px;
    width: 300px;
    padding-top: 20px;
}
.search-result-desc {
    white-space: nowrap;
}
.collection-search-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    white-space: nowrap;
}
.desc {
    padding-bottom: 5px;
}
.movie-list {
    width: 100%;
    height: 100%;
    list-style: none;
    margin-bottom: 20px;
}
.movie-list-text-container {

}
.movie-container {

}